@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btnyellow{
  display:block;
height: 150px;
width: 150px;
border-radius: 50%;
border: 1px solid #FFE233;
background-color: #FFE233;
letter-spacing: 3px;
color: #047a3a;
}

.btnblue{
  display:block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #2c599d;
  background-image: linear-gradient(to right top, #2c599d, #4367af, #5775c1, #6c84d3, #8093e6);
  letter-spacing: 3px;
  color: #22201f;
}

.btngreen{
  display:block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #3fd244;
  background-image: linear-gradient(to right top, #50ec50, #3fd244, #2db939, #1aa12d, #008922);
  letter-spacing: 3px;
  color: #630854;
}

.buttondiv{
  display: flex;
  justify-content: center;
  gap:15px;
  margin-top: 35px;
  font-family: 'Bangers', cursive;
  word-spacing: 2px;  
}

.resetbtn{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}